<nav class="navbar" role="navigation" aria-label="main navigation">

      <a routerLink="/" class="navbar-brand">
        M2E - Angular
      </a>

      <div class="navbar-start">
        <!--router-link v-for="category in $store.state.categories.all" :key="category.id"  :to="{ name: 'category', params: { slug: category.slug} }"  class="navbar-item">
          {{ category.title }}
        </router-link-->
      </div>

      <div class="navbar-end">
        <a routerLink="account"  class="navbar-item">
          <span>My account</span>
        </a>
        <div class="navbar-item">
          <a class="iam-button iam-badge" routerLink="cart">
              Cart <sup class="iam-badge__content is-fixed">1</sup>
          </a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
